aside {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: var(--sidebar-mobile);
	background-color: var(--darker);
	z-index: var(--sidebar-z-index);

	@media (max-width: var(--content-min-desktop)) {
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
	}

	@media (min-width: var(--content-min-desktop)) {
		transform: translateX(0);
	}
}

body {
	width: var(--full-w);
	height: var(--full-h);
	background-color: var(--dark);
}

button,
[role="button"] {
	background-color: var(--primary);
	border: 0;
	border-radius: 0.25rem;
	color: var(--lighter);
	font-size: 1rem;
	padding: 0.5rem 1rem;
}

main {
	height: 100%;
}
