*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: var(--full-w);
	height: var(--full-h);
	color: var(--light);
	background-color: var(--darker);
	font-family: var(--ff);
	font-size: var(--fs);
}

a {
	text-decoration: none;
	color: inherit;
}

aside {
	display: none;
}

button,
[role="button"] {
	cursor: pointer;
}